.product {
  width: 250px;
  height: 358px;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 24px 24px 0;
  padding: 16px;
}

.product img {
  border: 2px solid #ffffff;
  border-radius: 16px 16px 0px 0px;
}

.product h3 {
  font-weight: 400;
  font-size: 16px;
}

.product p {
  font-weight: 800;
  font-size: 22px;
  line-height: 24px;
}
