* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #f2f6fa;
  color: #172029;
  max-width: 1800px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #172029;
}
.link-active {
  color: #0073e6;
  border-bottom: 4px solid #0073e6;
}
